force-app/main/default/flows/Account_Daily_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify Account contact they are in danger of losing program eligibility.</description>
        <name>Notify_Account_Contact</name>
        <label>Notify Account Contact</label>
        <locationX>374</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Wait_14_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project2group2@eere.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Account Is In Danger Of Deactivation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>first_notice_email_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_Email.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner_And_Manager</name>
        <label>Notify Owner And Manager</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_Account_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>employee_manager_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project2group2@eere.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Account No Longer Meets Requirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>employee_notice_email_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner_And_Manager_Of_Deactivation</name>
        <label>Notify Owner And Manager Of Deactivation</label>
        <locationX>506</locationX>
        <locationY>1440</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>employee_manager_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project2group2@eere.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Account Has Been Deactivated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>employee_notice_deactivation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Emails_To_Collection</name>
        <label>Assign Emails To Collection</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>employee_manager_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manager_Email.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employee_manager_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Owner_And_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initial date of notice</description>
        <name>Assign_Initial_Notice_Date</name>
        <label>Assign Initial Notice Date</label>
        <locationX>374</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>initial_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Manager_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if an account still meets requirements for being a small business.</description>
        <name>Meet_Requirements</name>
        <label>Meet Requirements?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Assign_Initial_Notice_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Meet</defaultConnectorLabel>
        <rules>
            <name>Meets_Requirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <label>Meets Requirements</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if an account still meets requirements for being a small business.</description>
        <name>Meet_Requirements_Now</name>
        <label>Meet Requirements Now?</label>
        <locationX>374</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Meet</defaultConnectorLabel>
        <rules>
            <name>Meets_Requirements_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <label>Meets Requirements</label>
        </rules>
    </decisions>
    <description>Checks accounts daily to make sure they are meeting small business program requirements</description>
    <environments>Default</environments>
    <interviewLabel>Account Daily Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Daily Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Email</name>
        <label>Get Contact Email</label>
        <locationX>374</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Emails_To_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Email</name>
        <label>Get Manager Email</label>
        <locationX>374</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Re-opens funding for the deactivated account</description>
        <name>Re_open_Funding</name>
        <label>Re-open Funding</label>
        <locationX>506</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Notify_Owner_And_Manager_Of_Deactivation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Opportunity_del__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Funding_Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_Inactive</name>
        <label>Set Account Inactive</label>
        <locationX>506</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Re_open_Funding</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meet_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_Opportunity_del__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-16</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>deactivation_email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We&apos;re writing to inform you that your data still longer meets the requirements outlined for our program. Your account has now been deactivated and funding will be revoked.&lt;/p&gt;&lt;p&gt;If you feel this was an error please reach out to your contracting officer at {!$Record.Owner.Email} to discuss.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>employee_notice_deactivation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The account {!$Record.Name} no longer meets requirements for participating in the program. They have not updated their information in 14 days and are now deactivated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account ID: {!$Record.Id}&lt;/p&gt;&lt;p&gt;Revenue: {!$Record.AnnualRevenue}&lt;/p&gt;&lt;p&gt;Employees: {!$Record.NumberOfEmployees}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>employee_notice_email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The account {!$Record.Name} no longer meets requirements for participating in the program. They have been informed.&lt;/p&gt;&lt;p&gt;If this is an error, please contact the account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account ID: {!$Record.Id}&lt;/p&gt;&lt;p&gt;Revenue: {!$Record.AnnualRevenue}&lt;/p&gt;&lt;p&gt;Employees: {!$Record.NumberOfEmployees}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>first_notice_email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We&apos;re writing to inform you that upon review of your recent submissions, it has come to our attention that your data no longer meets the requirements outlined for our program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To ensure continued participation and compliance, we kindly request that you review and correct your data within the next 14 days. Failure to do so will result in your suspension from the program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact us if you have further questions.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>employee_manager_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>initial date of notice</description>
        <name>initial_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <waits>
        <description>Waits 14 days to check if account meets requirements again</description>
        <name>Wait_14_Days</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 14 Days</label>
        <locationX>374</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Meet_Requirements_Now</targetReference>
            </connector>
            <label>el_0</label>
            <offset>14</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
