force-app/main/default/flows/Small_Business_Applicant_Rejected_Accepted_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates a lead owner task to schedule a meeting with the applicant.</description>
        <name>Create_Lead_Owner_Task</name>
        <label>Create Lead Owner Task</label>
        <locationX>740</locationX>
        <locationY>849</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Schedule a negotiation meeting with applicant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>task_due_date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends confirmation of being rejected to applicant</description>
        <name>Send_ReEmail</name>
        <label>Send Rejected Email</label>
        <locationX>1479</locationX>
        <locationY>605</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>rejection_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends confirmation of being selected to applicant</description>
        <name>Send_Selected_Email</name>
        <label>Send Selected Email</label>
        <locationX>754</locationX>
        <locationY>588</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Lead_Owner_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>selected_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <description>Subject for emails</description>
        <name>email_subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application status update</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision tree for current lead status</description>
        <name>Lead_Current_Status</name>
        <label>Lead Current Status</label>
        <locationX>1085</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Send_ReEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_For_Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Selected_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Selected For Negotiation</label>
        </rules>
    </decisions>
    <description>Flow used to send emails when an applicant has been moved to the selected or rejected stages</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate seven days for task due date</description>
        <name>task_due_date</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>Small Business Applicant Rejected/Accepted Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Small Business Applicant Rejected/Accepted Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>972</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Lead_Current_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Rejection email body template</description>
        <name>rejection_template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your recent application submission.&lt;/p&gt;&lt;p&gt;After careful consideration, we regret to inform you that your application has not been selected to proceed to the next stage for the funding opportunity you applied for.&lt;/p&gt;&lt;p&gt;We appreciate the time and effort you invested in your application and encourage you to consider future opportunities with us.&lt;/p&gt;&lt;p&gt;Thank you for your interest in our program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;{{{Organization.Name}}} Small Business Program&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email body text for selected email</description>
        <name>selected_template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello&amp;nbsp;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your recent application submission.&lt;/p&gt;&lt;p&gt;We are pleased to inform you that your application has progressed to the negotiation stage for the funding opportunity you applied for. The contracting officer assigned to your application will be in touch within &lt;strong&gt;&lt;u&gt;7 days&lt;/u&gt;&lt;/strong&gt; to schedule a meeting.&lt;/p&gt;&lt;p&gt;Your active participation in our program is greatly appreciated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;{{{Organization.Name}}} Small Business Program&lt;/p&gt;</text>
    </textTemplates>
</Flow>
