force-app/main/default/flows/Small_Business_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Applies lead assignment rules within the flow for new leads</description>
        <name>Apply_Lead_Assignment_Rules</name>
        <label>Apply Lead Assignment Rules</label>
        <locationX>1623</locationX>
        <locationY>902</locationY>
        <actionName>invocableApplyLeadAssignmentRules</actionName>
        <actionType>invocableApplyLeadAssignmentRules</actionType>
        <connector>
            <targetReference>Loop_Over_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>applicant_lead_record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableApplyLeadAssignmentRules</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Discouragement email for concept paper applications</description>
        <name>Concept_Paper_Discouragement</name>
        <label>Concept Paper Discouragement</label>
        <locationX>2406</locationX>
        <locationY>699</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project2group2@eere.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank You For Applying</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>concept_paper_discourage_email_body_text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>applicant_lead_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Encouragement email for concept paper applications</description>
        <name>Concept_Paper_Encouragement</name>
        <label>Concept Paper Encouragement</label>
        <locationX>2300</locationX>
        <locationY>486</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project2group2@eere.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank You For Applying</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>concept_paper_encourage_email_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>applicant_lead_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Confirmation email for full application.</description>
        <name>full_application_email</name>
        <label>Full Application Email</label>
        <locationX>1934</locationX>
        <locationY>161</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project2group2@eere.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank You For Applying</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>full_application_email_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>applicant_lead_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Adds temporary file record to file record collection</description>
        <name>Add_to_File_Collection_Record</name>
        <label>Add to File Collection Record</label>
        <locationX>1833</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>file_document_links</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>file_temp_record_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign document id&apos;s from file upload screen to collection.</description>
        <name>Assign_Document_Ids</name>
        <label>Assign Document Ids</label>
        <locationX>1408</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>file_upload_document_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>concept_paper_file.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>file_upload_document_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>project_summary.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>file_upload_document_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>budget_justification.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>file_upload_document_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>technical_volume.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns lead returned from searching for existing lead.</description>
        <name>Assign_Lead_From_Search</name>
        <label>Assign Lead From Search</label>
        <locationX>1541</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>applicant_lead_record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign file values to temporary content record</description>
        <name>Assign_Temp_File_Values</name>
        <label>Assign Temp File Values</label>
        <locationX>2046</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>file_temp_record_var.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>file_temp_record_var.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicant_lead_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_File_Collection_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Concept_Paper</name>
        <choiceText>Concept Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concept Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_Application_Text</name>
        <choiceText>Full Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Application</stringValue>
        </value>
    </choices>
    <choices>
        <description>choice to select Concept Paper.</description>
        <name>isConceptPaper</name>
        <choiceText>Concept Paper</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Choice resource to select full application</description>
        <name>isFullApplication</name>
        <choiceText>Full Application</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <description>Lists the acceptable file formats for the upload screen.</description>
        <name>acceptable_file_formats</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.pdf,.docx,.doc</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision tree before success screen to determine if a concept paper or full application should be handled</description>
        <name>Concept_or_Full_Application_Decision</name>
        <label>Concept or Full Application Decision</label>
        <locationX>2039</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Status_To_Full_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Concept_Paper_Encourage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isConceptPaper</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Funding_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Funding_Opportunity.Minimum_Budget_Share__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>budget_share</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_employees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concept_Paper_Encouragement</targetReference>
            </connector>
            <label>Is Concept Paper Encourage</label>
        </rules>
        <rules>
            <name>concept_paper_discouragement_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Funding_Opportunity.Minimum_Budget_Share__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>budget_share</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_employees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concept_Paper_Discouragement</targetReference>
            </connector>
            <label>Concept Paper Discouragement</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if file exists within the file record id&apos;s collection.</description>
        <name>Does_File_Exist</name>
        <label>Does File Exist</label>
        <locationX>2037</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Files</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Temp_File_Values</targetReference>
            </connector>
            <label>File Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision tree for checking if a lead exists</description>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist</label>
        <locationX>1401</locationX>
        <locationY>797</locationY>
        <defaultConnector>
            <targetReference>existing_lead_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_From_Search</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <description>Helps to navigate through the EERE program initial application.</description>
    <dynamicChoiceSets>
        <description>Available funding opportunities for applicant</description>
        <name>Available_Funding_Opportunities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>region_state_picklists.topValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>region_state_picklists.middleValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>NAICS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>business_information_NAICS_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Funding_Opportunity__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist values for the NAICS business codes</description>
        <name>NAICS_codes_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NAICS_Code__c</picklistField>
        <picklistObject>Funding_Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Small Business Application {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Small Business Application</label>
    <loops>
        <description>Loops over the uploaded files to associate with the</description>
        <name>Loop_Over_Files</name>
        <label>Loop Over Files</label>
        <locationX>1825</locationX>
        <locationY>822</locationY>
        <collectionReference>file_upload_document_ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_File_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_File_Document_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the file records for each uploaded file and links them to lead created as well.</description>
        <name>Create_File_Document_Records</name>
        <label>Create File Document Records</label>
        <locationX>1821</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>Concept_or_Full_Application_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputReference>file_document_links</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Lead record for the applicant</description>
        <name>existing_lead_record</name>
        <label>Applicant Lead Record</label>
        <locationX>1409</locationX>
        <locationY>1055</locationY>
        <assignRecordIdToReference>applicant_lead_record.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Apply_Lead_Assignment_Rules</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Share__c</field>
            <value>
                <elementReference>budget_share</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>business_information_email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>business_information_applicant_name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Opportunity__c</field>
            <value>
                <elementReference>Get_Funding_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>business_information_applicant_name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAICS_Code__c</field>
            <value>
                <elementReference>business_information_NAICS_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>No_of_employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone_number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012aj000001Sk5lAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>region_state_picklists.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>region_state_picklists.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Concept Paper</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <description>Searches for existing lead from contact information</description>
        <name>Get_Existing_Lead</name>
        <label>Get Existing Lead</label>
        <locationX>1408</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>business_information_applicant_name.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>business_information_applicant_name.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>business_information_email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grabs the selected funding opportunity</description>
        <name>Get_Funding_Opportunity</name>
        <label>Get Funding Opportunity</label>
        <locationX>1126</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funding_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Opportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Minimum_Budget_Share__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Roll back the records</description>
        <name>Record_Rollback</name>
        <label>Record Rollback</label>
        <locationX>980</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <description>Roll back the records</description>
        <name>Record_Rollback_0</name>
        <label>Record Rollback</label>
        <locationX>1471</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Sets the lead status to full application</description>
        <name>Set_Lead_Status_To_Full_App</name>
        <label>Set Lead Status To Full App</label>
        <locationX>2087</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>full_application_email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicant_lead_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Full Application</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Takes information about the business</description>
        <name>Business_Information</name>
        <label>Business Information</label>
        <locationX>797</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FOA_Selection_Screen</targetReference>
        </connector>
        <fields>
            <name>business_information_applicant_name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>business_information_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone_number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_of_employees</name>
            <dataType>Number</dataType>
            <fieldText>No. of employees</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Number of employees cannot be negative.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!No_of_employees} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Annual Revenue cannot be negative.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Annual_Revenue} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>budget_share</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Budget Share</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a value in the range of 0-100&lt;/p&gt;</errorMessage>
                <formulaExpression>({!budget_share} &gt;= 0 &amp;&amp; {!budget_share} &lt;= 100)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>business_information_NAICS_code</name>
            <choiceReferences>NAICS_codes_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NAICS code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>region_state_picklists</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Funding_Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>region_picklist_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>state_picklist_value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1175</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Rollback</targetReference>
        </connector>
        <fields>
            <name>record_creation_error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 6, 6); font-size: 18px;&quot;&gt;An error occurred processing your information.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>1818</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Rollback_0</targetReference>
        </connector>
        <fields>
            <name>record_creation_error_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 6, 6); font-size: 18px;&quot;&gt;An error occurred processing your information.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>1399</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Document_Ids</targetReference>
        </connector>
        <fields>
            <name>concept_paper_file</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Concept Paper</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>acceptable_file_formats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>file_upload_document_ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>isConceptPaper</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>technical_volume</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Technical Volume</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>acceptable_file_formats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>file_upload_document_ids</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>isFullApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>project_summary</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>acceptable_file_formats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>file_upload_document_ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>isFullApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>budget_justification</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Budget Justification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>acceptable_file_formats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>file_upload_document_ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>isFullApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to select the FOA to apply for.</description>
        <name>FOA_Selection_Screen</name>
        <label>FOA Selection Screen</label>
        <locationX>956</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Funding_Opportunity</targetReference>
        </connector>
        <fields>
            <name>funding_selection_instruction_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please select an available Funding Opportunity from the list. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If none are available, you may still proceed with the application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Funding_Opportunity</name>
            <choiceReferences>Available_Funding_Opportunities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Funding Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Initial screen to select which type of application to submit.</description>
        <name>Select_Application_Type</name>
        <label>Select Application Type</label>
        <locationX>500</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Application_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Application_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Application_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Which_application_are_you_submitting</name>
                    <choiceReferences>isConceptPaper</choiceReferences>
                    <choiceReferences>isFullApplication</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Which application are you submitting?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Application_Type_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final success screen letting the applicant know they are finished with the application.</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2350</locationX>
        <locationY>251</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thank_you_confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Thank you for applying!﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(24, 26, 27); color: rgb(189, 183, 175);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You should be receiving a confirmation email with more details shortly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Welcome screen for the application, displays suggested items to have prepared before starting.</description>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>662</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_Information</targetReference>
        </connector>
        <fields>
            <name>concept_paper_welcome_text_display</name>
            <fieldText>&lt;p&gt;{!welcome_text_greeting}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!concept_paper_welcome_text_required_items}&lt;/p&gt;&lt;p&gt;{!proceed_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>isConceptPaper</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>full_application_welcome_text</name>
            <fieldText>&lt;p&gt;{!welcome_text_greeting}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!full_application_welcome_text_required_items}&lt;/p&gt;&lt;p&gt;{!proceed_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_application_are_you_submitting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>isFullApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Select_Application_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Email body text for a discourage email.</description>
        <name>concept_paper_discourage_email_body_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for submitting an application for the EERE Small Business Program! We appreciate your interest and the effort you&apos;ve invested in the initial application process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After careful consideration, we regret to inform you that your application does not fully meet the criteria outlined for participation in the program at this time. However, we understand that each application represents a unique perspective, and we encourage you to consider submitting a full application if you believe there are aspects of your proposal that may not have been fully captured in your initial submission. Please be aware that while you are welcome to submit a full application, it is less likely to be accepted based on the initial evaluation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you again for your interest in the EERE Small Business Program. We wish you the best of luck with your future endeavors and hope to see your continued growth and success.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Body text for a concept paper encourage email.</description>
        <name>concept_paper_encourage_email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for submitting an application for the EERE Small Business Program! We appreciate your interest and the effort you&apos;ve invested in the initial application process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After reviewing your submission, we invite you to proceed with a full application to further explore the possibilities of collaboration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Submitting a full application will allow us to delve deeper into your proposal and better understand how your business goals align with the objectives of the EERE Small Business Program. Please review the detailed criteria outlined on our website to ensure your full application addresses all relevant aspects.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Should you have any questions or require clarification on any aspect of the application process, please do not hesitate to reach out to us. We are here to support you throughout the process.&lt;/p&gt;&lt;p&gt;We look forward to receiving your full application and further exploring the potential of our partnership.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>List of items applicant should have for concept paper form.</description>
        <name>concept_paper_welcome_text_required_items</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;Concept paper with the following requirements:&lt;ul&gt;&lt;li&gt;Contact information for your technical and business points of contact.&lt;/li&gt;&lt;li&gt;Names of all your team members&lt;/li&gt;&lt;li&gt;Technical description outlining the proposed technology&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;NAICS code of your business&lt;/li&gt;&lt;li&gt;Estimated amount of funding&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Body for a full application confirmation.</description>
        <name>full_application_email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This is a confirmation email to let you know we have received your application.&lt;/p&gt;&lt;p&gt;Our team will look over your application as soon as we can and get back to you with &lt;/p&gt;&lt;p&gt;any follow up and confirmation on our decision soon.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your patience.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Welcome text for the full application first screen.</description>
        <name>full_application_welcome_text_required_items</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;Technical Volume&lt;/li&gt;&lt;li&gt;Project Summary&lt;/li&gt;&lt;li&gt;Budget Justification&lt;/li&gt;&lt;li&gt;NAICS code of your business&lt;/li&gt;&lt;li&gt;Estimated amount of funding&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>proceed_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;If you have all of the materials you may proceed to the next step.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Welcome text to greet at the start of the application.</description>
        <name>welcome_text_greeting</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Welcome to the Office of Energy Efficiency and Renewable Energy (EERE) funding application!&lt;/p&gt;&lt;p&gt;Before you begin, here is a list of materials you should have ready before start:&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores the applicant&apos;s lead record</description>
        <name>applicant_lead_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Holds the applicant&apos;s record id. Comes from existing lead or contact</description>
        <name>applicant_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Document link collection to hold uploaded file records before creation.</description>
        <name>file_document_links</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Variable to hold temporary file content document link</description>
        <name>file_temp_record_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Holds the document ids for each uploaded file</description>
        <name>file_upload_document_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Picklist value for the selected region from business information screen.</description>
        <name>region_picklist_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Picklist value for the selected state from the business information screen.</description>
        <name>state_picklist_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
